<launch>

        <!-- Running ROS rviz visualization tool -->
	<node pkg="rviz" type="rviz" name="rviz_node" output="screen" required="true" args="-d $(find d_star_lite)/config/slides.rviz"  />

        <!-- Starting a static transform publisher from world to map so that the /map coordinate frame can be anchored -->
        <node pkg="tf" type="static_transform_publisher" name="anchoring" args="0 0 0 0 0 0 1 world map 10" />

        <!-- Running the D* Motion Planner 
	<node pkg="d_star_lite" type="d_star_lite.py" name="dsl" output="screen" args="$(arg initial_state) $(arg goal_state) $(arg neigh_connect)" /> -->
</launch>
